WORDPRESS_API_URL= # url of graphql endpoint, e.g. https://your_wordpress_instance_domain.com/graphql

NEXTAUTH_URL=
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

KEYCLOAK_ID=
KEYCLOAK_SECRET=
KEYCLOAK_ISSUER=