{% extends "base.html" %}
{% block content %}

<div style="text-align: center;">
    <h1>Level up!</h1>
</div>
<p>Hallo {{ name|default("Nutzer:in") }},</p>
{% if achievement_type == "social" %}
<p>Herzlichen Glückwunsch, dein <b>Social</b>-Level hat sich erhöht.</p>
{% else %}
<p>Herzlichen Glückwunsch, dein <b>VE</b>-Level hat sich erhöht.</p>
{% endif %}
<p>Du bist jetzt <b>Level {{ level }}</b>!</p>
<p><a href="https://ve-collab.org/profile/edit">Bearbeite</a> jetzt dein Profil und wähle dir einen Profilrahmen aus, um
    deinen Erfolg auszustellen.</p>

<p style="margin-top: 30px;">Viele Grüße!</p>
<p>Dein VE-Collab Team</p>

{% endblock %}