{% extends "base.html" %}
{% block content %}

<p>Hallo {{ name|default("Nutzer:in") }},</p>
<p><b>{{ author|default("Ein/e Nutzer:in") }}</b> hat dich als Partner:in zu folgendem VE-Plan hinzugefügt:
    <b>{{ plan_name }}</b>.
</p>
<p>Du erhältst damit automatisch Schreibzugriff auf diesen VE-plan und findest ihn ab sofort in deinem persönlichen <a
        href="https://ve-collab.org/plans"><b>VE-Designer-Dashboard</b></a>, oder direkt <a
        href="https://ve-collab.org/plan/{{ plan_id }}"><b>hier</b></a>.</p>
<p style="margin-top: 30px;">Viele Grüße!</p>
<p>Dein VE-Collab Team</p>

{% endblock %}