{% extends "base.html" %}
{% block content %}

<div style="text-align: center;">
    <h1>Lass dich inspirieren!</h1>
</div>
<p>Hallo {{ name|default("Nutzer:in") }},</p>
<p>hakt die Planung etwas, oder bist du dir an manchen Stellen unsicher?</p>
<p>Wirf doch einen Blick in die <a href="{{ material_link|default('https://ve-collab.org/learning-material') }}"><b>Selbstlernmaterialien</b></a>
    zum Thema Good Practise Beispiele oder verwende den Filter auf deinem <a href="{{ designer_dashboard|default('https://ve-collab.org/plans') }}"><b>Designer Dashboard</b></a>, um neue
    Inspiration zu schöpfen!
</p>
<p style="margin-top: 30px;">Wir wünschen dir viel Erfolg!</p>
<p>Dein VE-Collab Team</p>

{% endblock %}